*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

build/
.gradle/
.syntastic_javac_config
*.swp
.tags

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore IntelliJ Files
.idea/
*.iml
.checkstyle
